/* 
        Created by: Sean Nuttall
        Last Updated 2/8/2023
        Description:  Styling for AboutMeWebpage.txt
*/

:root {
    --black: #02060a;
    --somethingsoundingcool: #16027b;

}

body {
    color: var(--black);


}

img {
    display: block;
    margin: auto;
    width: 25%;
}

.title {
    margin-top: 5%;
    border: 5px solid var(--somethingsoundingcool);
    display: flex;
    justify-content: center;
}

#shoppinglist.show {

    visibility: visible;

}

#hobbies {
    display: flex;
    justify-content: space-around;
}

#shoppinglist {

    visibility:hidden;
    background-color:var(--black);
    text-align: center;
    z-index: 1;
    left: 50%;
    position: fixed;
    color:aliceblue;
    min-width: 250px;
    margin-left: -125px;
    

}